@font-face {
   font-family: 'Mirc-font';
   src: url('../src/fonts/mirc/FixedSys.ttf') format('truetype');
 }
 @font-face {
   font-family: 'Fira-font';
   src: url('../src/fonts/fira_code/FiraCode-Retina.ttf') format('truetype');
 }

html{
   scrollbar-color: aliceblue rgb(19, 31, 46);
   scrollbar-width:thin;
   overflow-x:hidden ;
   font-family: 'Fira-font';
   color: aliceblue;
}
body{
   font-size: 1.2rem;
   line-height: 1.5rem;
   background-color: rgb(26, 157, 245);
 }
a{
   color: rgb(26, 157, 245);
}
.img-voltar{
   display: flex;
   transition: 1s;
}
.img-voltar:hover{
   transform: scale(1.05) rotate(1deg);
   cursor: pointer;
}
::-webkit-scrollbar {
   width: 5px;
}   
::-webkit-scrollbar-track {
   background:rgb(19, 31, 46);     
}
::-webkit-scrollbar-thumb {
   background-color:aliceblue;      
}
::selection{
   background: rgb(18, 28, 41);
}
