.input-field {
   align-items: flex-start;
   font-size: 1.3rem;
   align-items: center;
   margin: 15px 0;
   display: flex;
   color: aliceblue;
   padding: 5px;
   border-bottom: 2px solid aliceblue;
}
.input-field label{
   width: 20%;
}
.input-field input{
   width: 80%;
   color: aliceblue;
   padding: 5px;
   margin: 5px 10px;
   background: rgb(18, 28, 41);
   border-radius: 3px;
   border: 1px solid aliceblue;
   transition: 0.1s;
}
.materialize-textarea{
   width: calc(100% - 20px);
   padding: 10px;
   text-align: start;
   background:  rgb(18, 28, 41);   
   border: 1px solid aliceblue;
   color: aliceblue;
   border-radius: 3px;
}
.input-mensagem h2{
   padding: 10px 0;
}