
.container-img_perfil{
    overflow-y: scroll;
    position: fixed;
    top:0;
    float: left;
    width: 25%;
    height: 100vh;
    margin: 0 0 20px 20px;
    
}
    .perfil-img{  
        display: flex;
        margin: 0 auto;
        align-items: center;
        width: 20vw;
        max-width: 400px;
        object-fit:cover;
        transition: 0.3s all;
    }
        .perfil-img:hover{
            transform: scale(1.01);
        }
    .nome_img{
        font-family: 'pixel-font';
        text-align: center;
        font-size: 1.5em;
    }
    .funcao_img{
        font-weight: bolder;
        text-align: center;
        font-size: 1.5em;
        color: rgb(24, 214, 119);
    }
    .botao{
        margin: 15px auto 15px auto    ;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 3rem;
        font-size: 1rem;
        background-color: aliceblue;
        font-family: 'pixel-font';
        border:none;
        border-radius: 3px;
        transition: 0.5s;
    }
    .botao:hover{
        transform: scale(1.01);
        cursor: pointer;
    }
    .download-gif{
        width: 45px;
    }
    .detalhes{
        line-height: 1.2em;
        font-size: 1.1em;
    }