html{
    font-family: 'osvald', sans-serif;
}
.cabecalho{
    width: 70vw;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(19, 31, 46);
    color:aliceblue;
    border-bottom: 4px solid aliceblue ;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
 /* Nome e função */
.saudacao{
    font-family: 'Mirc-font';
    text-align: center;
    font-size: 2rem ;
    display: flex;
    flex-direction: column;
    padding: 20px;  
    line-height: 1.2rem;  
}
.ola{
    
    color: rgb(24, 214, 119);
}
.funcao{
    font-family: 'Mirc-font';
    text-align: center;
    font-size: 1.2rem ;
}

/*  Nome e função */
.lista{
    display: flex;
    
}
.social-icons,.navegacao-sites{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Mirc-font';
}

.social-icons_UL,.navegacao-sites_UL{
    display: flex;
}

.social-icons_UL li, .navegacao-sites_UL li{
    padding: 0 15px 15px 0;
    font-size: 2rem;   

}
.navegacao-sites_UL li:hover{
    transform: scale(1.02) rotate(1deg);
    cursor: pointer;
}
.navegacao-sites_UL li :active{
    transform: scale(0.9);
}
.navegacao-sites{
    text-transform: uppercase;
}
.navegacao-sites a{
    font-weight: bolder;
}
.marca-site{
    color: rgb(24, 214, 119);
    text-decoration: none;
    
}
.social-icons img{
    width: 35px;
    padding: 10px;
    animation: rede-sociais 3s linear infinite;
}
@keyframes rede-sociais{
    from {transform:scale(1.01) rotate(2deg);}
    50% {transform: scale(0.95) rotate(1.5deg);}
    75% {transform: scale(0.92) rotate(-1deg);}
    to {transform: scale(1) rotate(2deg);}

}
.social-icons li :hover{
    animation-play-state: paused;
    cursor: pointer;
    transform: rotate(2deg);
}
@media screen and (max-width: 780px){
    .cabecalho{
        position: relative;
        width: 100vw;       
    }
        .saudacao{
            line-height: 1.5rem;
        }
}