.containers-prof_edu{
   line-height: 1.8rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.container-qualificacoes { 
   overflow-y: scroll;
   height: 40vh;
   width: 46%;
   flex-direction: column;
   border-right: 4px solid aliceblue;
}
   .cargo{
      border-top: 1px solid aliceblue;
      line-height: 2rem;
      text-align: center;
      font-family: 'Mirc-font';
      font-size: 1.6rem;
      color: rgb(24, 214, 119);
   }
   .periodo{
      padding: 10px;
      line-height: 2rem;
      font-weight: lighter;
      color:rgb(26, 157, 245);
   }
   @media screen and (max-width: 780px){
      .containers-prof_edu{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         width: 100%;
      }
      .container-qualificacoes {
         width: 100%;
         height: 60vh;
      }
   }