
.container-pe {
   padding: 10px 0 0 0;
   line-height: 2em;
   color: aliceblue;
   background-color:  rgb(18, 28, 41);
   border-top: 4px solid aliceblue;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.copyright{
   width: 100%;
   text-align: center;
}
.container-pe em {
   color:rgb(24, 214, 119);
}