html{
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}
::selection{
    background: rgb(13, 20, 29);
}
@font-face {
    font-family: 'pixel-font';
    src: url('../fonts/Pixel\ Emulator.otf') format('truetype');
  }
body{
    
    font-size: 1.2rem;
    line-height: 1.5rem;
    background-color: rgb(26, 157, 245);
  }
::-webkit-scrollbar {
    width: 5px;
}   
::-webkit-scrollbar-track {
    background:rgb(19, 31, 46);       /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
    background-color:aliceblue;      
}
#containers{
   padding: 10px;
   background: rgb(18, 28, 41);
   border-radius: 3px;
}
#containers-inner{
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(19, 31, 46);
    box-shadow: -5px  5px 5px rgb(15, 23, 34);
 }
.subtitulo-azul{
    color: rgb(26, 157, 245);
    font-family: 'pixel-font';
    line-height: 1.6rem;
}

.container-main{
    position: relative;
    width: 70vw;
    float: right;
    margin: 10px 10px 10px 0;
    background-size: cover; 
    min-height:100vh;
    color: aliceblue;
}
.ola_mundo-container{
line-height: 3rem;
position: sticky;
    top:0 ;
}
.saudacao-main{
    
    text-align: center;
    font-family: 'pixel-font';
    font-size: 2.5rem; 
}
.sobre_mim-container{
    margin: 20px 0;
}
.skills-container{
    margin: 20px 0;
}
.subtitulo{
    text-align: center;
    color: aliceblue;
    font-family: 'pixel-font';  
}
.container-graficos{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
}
#grafico{
    margin: 15px;
    width: 20%;  
    max-width: 250px;
    border-radius: 50%;
}
     .html{
        
        background: conic-gradient(rgb(24, 214, 119) 75%,  rgb(18, 28, 41) 25%);
        
    }
     .css{
        background: conic-gradient(rgb(24, 214, 119) 70%,  rgb(18, 28, 41) 30%);
    }
     .js{
        background: conic-gradient(rgb(24, 214, 119) 50%,  rgb(18, 28, 41) 50%);
    }
     .illustrator{
        background: conic-gradient(rgb(24, 214, 119) 85%,  rgb(18, 28, 41) 15%);
    }

.container-pe {
    width: 70vw;
    margin: 0 10px 0 auto;
    position: relative;
    bottom: 0;
    line-height: 2rem;
    color: aliceblue;
    background-color:  rgb(18, 28, 41);
    border-top: 4px solid aliceblue;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.copyright{
    width: 100%;
    text-align: center;
}
.container-pe em {
    color:rgb(24, 214, 119);
}

@media screen and (max-width: 480px){

       .container-main{
        width: 95vw;
        margin: 10px;
        position: relative;
       } 
}
