html{
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}
@font-face {
    font-family: 'pixel-font';
    src: url('../fonts/Pixel\ Emulator.otf') format('truetype');
  }
body{
    
    background-color: rgb(26, 157, 245);
  }
.subtitulo-azul{
    width: 100%;
    color: rgb(26, 157, 245);
    font-family: 'pixel-font';
    font-size: 1.5em;
    line-height: 1.6em;
}
.container-main{
    width: 70%;
    float: right;
    margin: 20px;
    background-size: cover; 
    min-height:100vh;
    color: aliceblue;
}

.saudacao-main{
    text-align: center;
    font-family: 'pixel-font';
    font-size: 2.5em;
    padding: 10px;
    background: rgb(20, 33, 44);
    border-radius: 3px;
}
.sobre_mim-main{
    margin: 20px 0;
    padding: 10px;
    line-height: 1.8em;
    background: rgb(20, 33, 44);
    border-radius: 3px;
}
.texto {
    font-size: 1.3em;
    
}
.skills-container{
    width: calc(100% - 20px);
    margin: 20px 0;
    padding: 10px;
    background: rgb(20, 33, 44);
    border-radius: 3px;
    height: 100vh;
}
.subtitulo{
    display: flex;
    color: aliceblue;
    font-family: 'pixel-font';  
    font-size: 1.25em;
    justify-content: center;
}
.container-graficos{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    
}
#graficos{
    display: flex;
    padding: 30px;
    width: 200px;
    height: 200px;  
    border-radius: 50%;
    
    
}
     .html{
        
        background: conic-gradient(rgb(24, 214, 119) 75%, rgb(20, 33, 44) 25%);
        
    }
     .css{
        background: conic-gradient(rgb(24, 214, 119) 70%, rgb(20, 33, 44) 30%);
    }
     .js{
        background: conic-gradient(rgb(24, 214, 119) 50%, rgb(20, 33, 44) 50%);
    }
     .illustrator{
        background: conic-gradient(rgb(24, 214, 119) 85%, rgb(20, 33, 44) 15%);
    }

