html{
    font-family: 'Oswald', sans-serif;
}
@font-face {
    font-family: 'pixel-font';
    src: url('../fonts/Pixel\ Emulator.otf') format('truetype');
  }

.container-main{
    display:flex;
    flex-wrap:nowrap;
    justify-self: start;
    justify-content:flex-start;
    
    background-color: rgb(26, 157, 245);
    background-size: cover; 
    min-height:100vh;
    color: aliceblue;
}
.texto-container{
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0;
    line-height: 4.5em;
    
    }

.saudacao-main{
    font-family: 'pixel-font';
    font-size: 2.5em;
    width: 100%;
    height: 2.5em;


}
.apresentacao-main{
    font-size: 1.2em;
    line-height: 1.6em;

}
.container-img_perfil{
    display: inline-flexbox;
    justify-content: center;
    background: rgb(20, 33, 44);
    border-radius: 1%;  
    margin: 20px;
}
.perfil-img{
    
    display: flex;
    align-items: center;
    width: 20vw;
    height: 37vh;
    object-fit:cover;
    transition: 0.3s all;
    display:flex;
}
    .perfil-img:hover{
        transform: scale(1.01);

    }
.nome_img{
    font-family: 'pixel-font';
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
}
.funcao_img{
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    color: rgb(24, 214, 119);
}
.baixar-curriculo{
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 1.1em;
    background-color: aliceblue;
    font-family: 'pixel-font';
    border:none;
    border-radius: 2px;
    transition: 0.5s;
}

.baixar-curriculo:hover{
    transform: scale(1.01);
    cursor: pointer;

}
.download-gif{
    width: 45px;
}





.container-pe {
    padding: 10px 0 0 0;
    line-height: 2em;
    color: aliceblue;
    background-color: rgb(20, 33, 44);
    border-top: 4px solid aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.copyright{
    width: 100%;
    text-align: center;
}
.container-pe em {
    color:rgb(24, 214, 119);
}
@media screen and (max-width: 480px){

    .perfil-img{
        width: calc(100% - 10px);
        margin: 10px;
    }
    .perfil-img:hover{      
            transform: none;
            box-shadow: none;
        
    }

    .cabecalho{
        justify-content:flex-start;
        align-items: center;
        flex-direction: column;
    }
   
    .descricao{
        text-align: center;
        font-size: 2em;
        width: 100%;
        flex-direction: column;
        padding: 10px;         
    
    }
    
    .social-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .social-icons_UL{
        flex-direction: row;
    }
    .social-icons_UL li, .navegacao-sites_UL li{
        padding: 0 10px 10px 0; 
    }
    .navegacao-sites{
        margin: 10px;
    }

    .social-icons img{
        padding: 10px;
    }
    .texto-container{
 
        width: calc(100% - 10px);
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        line-height: 4.5em;
        
        }
         .desktop{
             display: none;
            }
        .mobile{
            display: flex;
            font-size: 3.5em;

        }

    
    .projetos-geral{
        width: calc(100%-10px);
        margin: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center; 
    
    }
    .projetos-geral h2{
        margin: 25px 0;
        font-size: 2em;
    }
    .projetos{
        justify-content:center;
        padding: 0 ; 
    }
    .logo-alura,.logo-freeway,.logo-pong{
        margin: 15px;
        width: 250PX; /* width of container */
        height:  250PX; /* height of container */
        object-fit:contain;
        
        transition: none;     
    }


    }
