@font-face {
    font-family:'personalizada';
    src: url('../fonts/I-pixel-u.ttf') format('truetype');
}

body{ 
    
    text-align: center;
    background-color: rgb(26, 157, 245);
}

header{
    font-family:'personalizada';
    font-size: 2em;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    color: rgb(24, 214, 119);
    width: 100vw;
    background-color: rgb(20, 33, 44);
    border-bottom: 4px solid aliceblue ;

}
img{
    display: none;
}
#canvas{
    margin: 15px;
    border-radius: 15px;
    border: 4px solid aliceblue ;

}
