.projetos-geral{
   margin: auto;
   display: flex;
   flex-direction: column;
   text-align: center; 
   justify-content: center;
}
.projetos-geral h2{
   line-height: 3rem;
   margin:10px;
   font-size: 2.5em;
}
.projetos-container{
   display:flex;
   justify-content: space-between;
   flex-direction: row;
   margin: 10px; 
   flex-wrap: wrap;
   text-align: center;    
   border-radius: 3px;
   background-color: rgb(19, 31, 46);
   box-shadow: -5px  5px 5px rgb(15, 23, 34);
}
.projetos-container li{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   flex-direction: column;
   
}
.projetos-container h3{
   width: 20vw;
   color:rgb(26, 157, 245);
   line-height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-family: 'pixel-font';
   font-size: 2em;
   height: 2em;
   transition: 0.5s all;
}
   .projetos-container h3:hover{
      color: rgb(24, 214, 119);
      background-color:rgb(15, 23, 34);
      border-radius: 3px;
   }
.logo-alura,.logo-freeway,.logo-pong,.logo-snake{
   
   margin: 15px;
   width: 250px; /* width of container */
   height:  250px; /* height of container */
   object-fit:contain;
   border-radius: 3px;
   background-color: aliceblue;
   border: 4px solid  aliceblue;
   transition: 0.4s all;       
}
   .logo-alura:hover,.logo-freeway:hover,.logo-pong:hover,.logo-snake:hover{
      cursor: pointer;
      transform: scale(1.01)rotate(1deg);
   }
   .logo-alura:active,.logo-freeway:active,.logo-pong:active{
      transform: scale(0.99);
   }

