.containers-prof_edu{
   line-height: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 40vh;   
}
.container-profissional{
   overflow-y: scroll;
   width: 46%;
   flex-direction: column;
   border-right: 4px solid aliceblue;
}
.container-educacao{
   overflow-y: scroll;
   width: 46%;
   border-right: 4px solid aliceblue;
   flex-direction:column;
} 
   .cargo{
      border-top: 1px solid aliceblue;
      line-height: 2rem;
      font-weight: bolder;
      text-align: center;
      
      font-size: 1.5em;
      color: rgb(24, 214, 119);
   }
   .periodo{
      padding: 10px;
      line-height: 3rem;
      font-weight: lighter;
      color:rgb(26, 157, 245);
   }