
.container-img_perfil{
    position: relative;
    float: left;
    width: 25%;
    margin: 20px 0 20px 20px;
    padding:10px;
    background: rgb(20, 33, 44);
    border-radius: 3px; 
    
}
    .perfil-img{    
        display: flex;
        margin: 0 auto;
        align-items: center;
        width: 20vw;
        height: 37vh;
        object-fit:cover;
        transition: 0.3s all;
    }
        .perfil-img:hover{
            transform: scale(1.01);
        }
    .nome_img{
        font-family: 'pixel-font';
        text-align: center;
        padding: 5px;
        font-size: 1.5em;
    }
    .funcao_img{
        text-align: center;
        padding: 5px;
        font-size: 1.5em;
        color: rgb(24, 214, 119);
    }
    .botao{
        margin: 25px auto 20px auto    ;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 3em;
        font-size: 1em;
        background-color: aliceblue;
        font-family: 'pixel-font';
        border:none;
        border-radius: 3px;
        transition: 0.5s;
    }
    .botao:hover{
        transform: scale(1.01);
        cursor: pointer;
    }
    .download-gif{
        width: 45px;
    }
    .detalhes{
        line-height: 1.2em;
        padding: 0 10px;
        font-size: 1.1em;
    }