#containers{
   padding: 10px;
   background: rgb(18, 28, 41);
   border-radius: 3px;
}
#containers-inner{
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(19, 31, 46);
    box-shadow: -5px  5px 5px rgb(15, 23, 34);
 }

.container-main{
    position: relative;
    width: 70vw;
    float: right;
    margin: 10px 10px 10px 0;
    background-size: cover; 
    min-height:100vh;
    color: aliceblue;
}
.ola_mundo-container{
line-height: 3rem;
position: sticky;
    top:0 ;
}
.saudacao-main{
    text-align: center;
    font-family: 'Mirc-font';
    font-size: 2.5rem; 
}
.sobre_mim-container{
    margin: 20px 0;
}
.skills-container{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    height: 40vh;
}
.container-graficos{
    overflow-y: hidden;
    display: flex;
    align-self: center;
    width: calc(100% - 20px);
}
.lista-graficos{
    display: flex;
    overflow-x:scroll;
}
.container-graficos li{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#grafico{
    height: 90%;
    display: flex;
    border-radius: 50%;
}
     .html{
        background: conic-gradient(rgb(24, 214, 119) 75%,  rgb(18, 28, 41) 25%);
    }
     .css{
        background: conic-gradient(rgb(24, 214, 119) 70%,  rgb(18, 28, 41) 30%);
    }
     .js{
        background: conic-gradient(rgb(24, 214, 119) 50%,  rgb(18, 28, 41) 50%);
    }
     .illustrator{
        background: conic-gradient(rgb(24, 214, 119) 85%,  rgb(18, 28, 41) 15%);
    }

