.container-main{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(26, 157, 245);
    color: aliceblue;
}
.container-cima{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.perfil-img{
    display:flex;
    width: 30%; 
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(19, 31, 46);
    box-shadow: -5px  5px 5px rgb(15, 23, 34);
}   
.texto-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;  
    margin: 10px;
    padding: 10px;
    line-height: 3rem;
    background-color: rgb(19, 31, 46);
    box-shadow: -5px  5px 5px rgb(15, 23, 34);
    border-radius: 3px;
    }
    .desktop{
        font-size: 2em;
    }
    .texto-container em{
        color: rgb(24, 214, 119);
        font-weight: bolder;
    }