@media screen and (max-width: 780px){
    .cabecalho{
        justify-content:center;
        flex-direction: column;
    }
    .cabecalho .listas{
        font-family: 'pixel-font'; 
        display: flex;
        flex-direction: column;
    }
    /*--------------------------------*/
    .container-main{
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .container-cima{
        flex-direction: column;
    }
   .perfil-img{
        padding: 0;
       width: 100%;
       margin: 10px 0;
   }
   .social-icons_UL li, .navegacao-sites_UL li{
       padding: 10px; 
   }
   .texto-container{
        justify-content: center;
       margin: 0;
       padding: 0;
       line-height: 4.5em;
       }
       .projetos-geral h2{
        margin: 25px 0;
    }
    .projetos{
        justify-content: center;
    }
   .logo-alura,.logo-freeway,.logo-pong{
       margin: 15px;
       width: 250PX; /* width of container */
       height: 250PX; /* height of container */
       object-fit:contain;
       transition: none;     
   }
   .container-pe{
    padding: 10px;
   }
}
